{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'verification_app/css/work_place.css' %}">

{% endblock %}

{% block title %} Файлы организации {% endblock %}

{% block content %}
<h3 class="my-3 text-justify">Файлы организации</h3>
    <p>Организация: {{ organization }} </p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">№ п/п</th>
            <th scope="col">Год</th>
            <th scope="col">Файл</th>
            <th scope="col">Предупреждения</th>
        </tr>
    </thead>
    <tbody>
        {% for file, warning_count in files_sout %}
        <tr>
            <td> {{ forloop.counter }} </td>
            <td> {{ file.date|date:"Y" }} </td>
            <td>
                <a href="{% url 'file-sout-places' organization.pk file.pk  %}"> {{ file.organization.name }} ( {{ file.work_places_count }} РМ ) </a>
            </td>
            {% if warning_count > 0 %}
                <td class=" table-warning table-success }">
                    <a href="{% url 'wa-file-places' organization.pk file.pk %}"> {{ warning_count }}</a>
                </td>
            {% else %}
                <td class="table-success">
                    {{ warning_count }}
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
