{% extends 'base.html' %}

{% block title %} Загрузка файлов СОУТ {% endblock %}

{% block content %}
    <h2>Загрузка файла SOUT</h2>

    <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button type="button" class="btn btn-danger">{{ form.file_xml }}</button>
          <button type="submit" class="btn btn-success">Загрузить</button>
        </div>
    </form>

{% endblock %}