{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'verification_app/css/work_place.css' %}">

{% endblock %}

{% block title %} Информация по организациям {% endblock %}

{% block content %}

<h2 class="my-3 text-justify"> {{ organization }} <a href="{% url 'download-excel-file' pk=organization.pk %}" class="btn btn-success align-right">Скачать Excel</a> </h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Подразделение</th>
            <th scope="col">Номер РМ</th>
            <th scope="col">Наименование РМ</th>
            <th scope="col">Работники</th>
            <th scope="col">Код ОК-01694</th>
            <th scope="col">Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for place in work_places %}
        <tr class=" {% if place.status == 'CH' %} table-success {% else %} table-warning {% endif %}">
            <td> {{ place.sub_unit }}</td>
            <td><a href="{% url 'work-place' pk=place.pk %}">{{ place.place_id }}</a></td>
            <td> {{ place.position }}</td>
            <td> {{ place.workers_quantity }}</td>
            <td> {{ place.profession }}</td>
            <td>

                <div class="list-group text-center" id="hover-container">
                    <div>{{ place.get_status_display }}</div>
                    <ul class="list-group list-group-flush">
                        {% for des in place.descriptions.all %}
                            <li class="list-group-item list-group-item-secondary"> {{ des.name }}</li>
                        {% endfor %}
                    </ul>
                </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
