{% extends 'base.html' %}

{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'verification_app/css/work_place.css' %}">

{% endblock %}

{% block title %} Рабочие места файла {% endblock %}

{% block content %}

<h3 class="my-3 text-justify">Рабочие места файла</h3>
    <p>Файл: {{ organization }} ( {{ file.work_places_count }} РМ ) <a href="{% url 'download-excel-file' pk=file.pk %}" class="btn btn-success mb-3 align-right">Скачать Excel</a> </p>


<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">№ п/п</th>
            <th scope="col">Подразделение</th>
            <th scope="col">Номер РМ</th>
            <th scope="col">Наименование РМ</th>
            <th scope="col">Работники</th>
            <th scope="col">Код ОК-01694</th>
        </tr>
    </thead>
    <tbody>
        {% for place in work_places %}
        <tr>
            <td> {{ forloop.counter }} </td>
            <td> {{ place.sub_unit }}</td>
            <td><a href="{% url 'work-place' pk=place.pk %}">{{ place.place_id }}</a></td>
            <td> {{ place.position }}</td>
            <td> {{ place.workers_quantity }}</td>
            <td> {{ place.profession }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
