{% extends 'base.html' %}

{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'verification_app/css/work_place.css' %}">

{% endblock %}

{% block title %} Рабочие места файла {% endblock %}

{% block content %}

<h3 class="my-3 text-justify">Рабочие места организации</h3>
        <p>Организация: {{ organization }} </p>
        <p>Количество рабочих мест на выгрузку: {{ checked_places_count }}</p>
        <p>Количество рабочих мест с предупреждением: {{ warning_places_count }}</p>

        <a href="{% url 'file-sout' pk=organization.pk %}" class="btn btn-primary">Файлы организации</a>
        <button type="button" class="btn btn-primary" id="toggleButton" onclick="toggleTable()">Таблица РМ</button>
        <a href="{% url 'download-excel-organization' pk=organization.pk %}" class="btn btn-success">Скачать Excel</a>

<table class="table" id="workplaceTable" style="display: none;">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Подразделение</th>
            <th scope="col">Номер РМ</th>
            <th scope="col">Наименование РМ</th>
            <th scope="col">Работники</th>
            <th scope="col">Код ОК-01694</th>
        </tr>
    </thead>
    <tbody>
        {% for place in work_places %}
        <tr>
            <td> {{ forloop.counter }} </td>
            <td> {{ place.sub_unit }}</td>
            <td> {{ place.place_id }}</td>
            <td> {{ place.position }}</td>
            <td> {{ place.workers_quantity }}</td>
            <td> {{ place.profession }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

{% block script %}
    <script>
        function toggleTable() {
          var table = document.getElementById("workplaceTable");
          var button = document.getElementById("toggleButton");

          if (table.style.display === "none") {
            table.style.display = "table";
          } else {
            table.style.display = "none";
          }
        }

    </script>
{% endblock %}