{% extends 'base.html' %}

{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'verification_app/css/work_place.css' %}">

{% endblock %}

{% block title %} Рабочие места файла {% endblock %}

{% block content %}

<h3 class="my-3 text-justify">Рабочие места организации</h3>
        <p>Организация: {{ organization }} </p>
        <p>Всего загруженно экземпляров рабочих мест: {{ total_places_count  }}</p>
        <p>Количество рабочих мест прошедших проверку: {{ checked_places_count }}</p>
        <p>Количество рабочих мест с предупреждением: {{ warning_places_count }}</p>

        <a href="{% url 'download-excel-organization' pk=organization.pk %}" class="btn btn-success mb-3 ms-2 align-right">Скачать Excel</a>
        <a href="{% url 'file-sout' pk=organization.pk %}" class="btn btn-primary mb-3">Файлы организации</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Подразделение</th>
            <th scope="col">Номер РМ</th>
            <th scope="col">Наименование РМ</th>
            <th scope="col">Работники</th>
            <th scope="col">Код ОК-01694</th>
        </tr>
    </thead>
    <tbody>
        {% for place in work_places %}
        <tr>
            <td> {{ forloop.counter }} </td>
            <td> {{ place.sub_unit }}</td>
            <td> {{ place.place_id }}</td>
            <td> {{ place.position }}</td>
            <td> {{ place.workers_quantity }}</td>
            <td> {{ place.profession }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
