th, td {
    text-align: center;
}

.text-left {
    text-align: left;
}

.no-border {
    border-top: none;
    border-left: none;
    border-right: none;
}

.align-right {
    float: right
}

.text-justify {
    text-align: justify;
}

.custom-textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.custom-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}