{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'verification_app/css/work_place.css' %}">

{% endblock %}

{% block title %} Файлы организации {% endblock %}

{% block content %}
<h3 class="my-3 text-justify">Файлы организации</h3>
    <p>Организация: {{ organization }} </p>

<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Год</th>
            <th scope="col">Файл</th>
            <th scope="col">Предупреждения</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for file, warning_count in files_sout %}
        <tr>
            <td> {{ forloop.counter }} </td>
            <td> {{ file.date|date:"Y" }} </td>
            <td>
                <a href="{% url 'file-sout-places' organization.pk file.pk  %}"> {{ file.organization.name }} ( {{ file.work_places_count }} РМ ) </a>
            </td>
            {% if warning_count > 0 %}
                <td class=" table-warning table-success }">
                    <a href="{% url 'wa-file-places' organization.pk file.pk %}"> {{ warning_count }}</a>
                </td>
            {% else %}
                <td class="table-success">
                    {{ warning_count }}
                </td>
            {% endif %}
            <td>
                <button type="button" class="btn btn-danger" data-id="{{ file.id }}">Удалить</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      $(document).ready(function(){
        $(".btn-danger").on("click", function(){
          var itemId = $(this).data("id");
          $.ajax({
            type: "POST",
            url: "{% url 'delete_item' %}",
            data: {'item_id': itemId, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function(response){
              location.reload();
            }
          });
        });
      });


    </script>

{% endblock %}