{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'verification_app/css/work_place.css' %}">

{% endblock %}

{% block title %} Рабочее место {% endblock %}

{% block content %}

<h3> Файл: {{ object.organization }} ( {{ object.file.work_places_count }} РМ ) </h3>
<p> Подразделение: {{ object.sub_unit }}</p>
<p> Номер: {{ object.place_id }}</p>
<p> Наименование: {{ object.position }}</p>
<p> Работники: {{ object.workers_quantity }}</p>
<p> Код ОК-01694: {{ object.profession }}</p>

<form method="post" class="mb-4">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Cохранить" class="btn btn-primary">
    <button type="button" class="btn btn-primary align-right" id="toggleButton" onclick="toggleTable()">Показать ошибки</button>

</form>


<table class="table" id="workplaceTable" style="display: none;">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Подразделение</th>
            <th scope="col">Номер РМ</th>
            <th scope="col">Наименование РМ</th>
            <th scope="col">Работники</th>
            <th scope="col">Код ОК-01694</th>
            <th scope="col">Статус</th>
            <th scope="col">Описание</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for wa in wa_work_places %}
                <tr>
                    <td> {{ forloop.counter }} </td>
                    <td class=" {% if object.sub_unit != wa.sub_unit %} table-danger {% endif %}"> {{ wa.sub_unit }}</td>
                    <td>{{ wa.place_id }}</td>
                    <td class=" {% if object.position != wa.position %} table-danger {% endif %}"> {{ wa.position }}</td>
                    <td class=" {% if object.workers_quantity != wa.workers_quantity %} table-danger {% endif %}"> {{ wa.workers_quantity }}</td>
                    <td class=" {% if object.profession != wa.profession %} table-danger {% endif %}"> {{ wa.profession }}</td>
                    <td class="text-left small"> <b>Повтор в файле:</b> <a href="{% url 'file-sout-places' wa.file.organization.pk wa.file.pk  %}"> {{ wa.file.organization }} ( {{ wa.file.work_places_count }} РМ )</a></td>
                    <td> {{ wa.description }}</td>
                </tr>
            {% endfor %}
        </tr>
    </tbody>
</table>


{% endblock %}


{% block script %}
    <script>
        function toggleTable() {
          var table = document.getElementById("workplaceTable");
          var button = document.getElementById("toggleButton");

          if (table.style.display === "none") {
            table.style.display = "table";
            button.innerHTML = "Скрыть ошибки";
          } else {
            table.style.display = "none";
            button.innerHTML = "Показать ошибки";
          }
        }

    </script>
{% endblock %}