th, td {
    text-align: center;
}

.text-left {
    text-align: left;
}

.no-border {
    border-top: none;
    border-left: none;
    border-right: none;
}

.align-right {
    float: right
}

.text-justify {
    text-align: justify;
}

